.visually-hidden { 
  position: absolute !important;
  height: 1px; 
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

.myForm {
  position: relative; 
  bottom: 20rem;
  background-color: #474BB5;
  max-width: 60%; 
  padding: 5%; 
  box-shadow: 25px 20px 0px 0px rgba(8,253,237,1);
}

input {
  width:40%;
  margin:0  0 20px 0;
  outline:0;
  background: none;
  padding: 2%;  
  border: none;
}

textarea {
  resize: none;
  background: none; 
  max-width: 100%; 
  padding: 2%;
  border: 1px solid #F3FAFF; 
}

#name, 
#email,
textarea {
  @include fontRoboto(16px);
  letter-spacing: 1px;
}


#name,
#email {
  border-bottom-width: 1px;
  border-bottom-color: #F3FAFF;
  border-bottom-style: solid;
}


#email {
  margin-left: 18%; 
}

input::placeholder {
  color: #fff;
}
