.homeHeader {
    background-image: url(../assets/home-header.jpg); 
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.blogHeader {
    background-image: url(../assets/blog-header.jpg); 
    background-position: center;
    background-size: cover;
    height: 100vh; 
}

.contactHeader {
    background-image: url(../assets/contact-header.jpg); 
    background-position: center;
    background-size: cover;
    height: 100vh;   
}

h1 {
  @include fontSize(150px);
}

nav {
    width: 40%;
    padding-top: 2%; 
    ul li {
        display: flex; 
        justify-content: space-evenly;
        @include fontSize(20px);

            a {
            text-decoration: none;
            flex: 2 0 auto; 
            }
        }
    }
