header {
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
}

h1 {
    @include fontWalter(150px);
    font-size: 130px;
    color: #F3FAFF;
    font-family: 'Walter Turncoat', cursive;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}


.homeHeader {
    background-image: url(../assets/home-header.jpg); 
        h1 {
            margin-left: 2%;
            padding-top: 17%;
        }
}

.blogHeader {
    background-image: url(../assets/blog-header.jpg); 
    position: relative;
    height: 80vh; 
        h1 {
            position: absolute; 
            bottom: 50%;
            left: 5%;
        } 
}

.contactHeader {
    background-image: url(../assets/contact-header.jpg); 
    position: relative; 
        h1 {
            position: absolute;
            bottom: 50%;
            left: 5%;
        }
}


.headerSideImage {
    width: 50%; 
    position: relative;
    top: 30%; 
    margin-left: 82px;
}
