button {
    @include fontWalter(20px);
    color: #474BB5;
    background-color: #08FDED;
    border: none; 
    padding: 10px;
}

.homeSectionTwo button {
    margin-top: 5%; 
}

form button {
  width: 100%;
  margin-top: 8%;
}

button a {
    color: #474BB5;
    text-decoration: none;
    transition: .2s;
}

button a:hover,
button a:focus {
    color: rgb(5, 137, 160);
    padding: 5px; 
}
