// Blog specific styles

.blogBody {
    background-color: #03697C;
    width: 100%;  
    @include fontRoboto(16px);
}

.blogBigSideImage {
    position: relative;
    bottom: 143px; 
        img {
             box-shadow: -25px 20px 0px 0px rgba(8,253,237,1);
        }
}

.blogFlexContainer1 {
    display: flex; 
    flex-direction: column;
        article {
            letter-spacing: 1px;
            padding: 5%; 
                h2 {
                    font-size: 60px; 
                    margin-bottom: 5%; 
                }
                
        }
}

.blogFlexContainer2 { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8%;  
    width: 57%; 
        h2 {
            font-size: 60px; 
        }
}

.userComment {
    display: flex;
    flex-direction: column;
    padding: 5%; 
        h2, p {
            width: calc(75% - 20px);
            margin-left: 20%;
            line-height: 22px;
            letter-spacing: 1px;
            margin-top: 0; 
        }
}

.userCommentContainer {
    display: flex;
    flex-direction: column;
        img {
        align-self: flex-start;
        position: absolute; 
        }
}


.blogCommentContainer {
    display: flex; 
    flex-direction: row-reverse;
    padding-top: 10%; 
}


.containRight{
    display: flex;
    flex-direction: row-reverse; 
}    

.containLeft {
    display: flex; 
}

.blogFlexContainer1 h2 {
    font-size: 45px;
}

.formsSection {
    height: 100%;
    position: relative; 
}

h3 {
    @include fontWalter(20px);
}

.blogSection {
    height: 100%;
    display:flex; 
    flex-direction: row-reverse;
}

.blogSmallSideImage {
    display: flex;
    flex-direction: column;
}

.purpleBox {
    height: 100%;
    width: 100%;
    background-color: #474BB5;
    padding: 1%; 
        h3 {
            letter-spacing: 1px; 
        }
}

.innerWrapper p {
    margin-top: 5%;
    letter-spacing: 1px;
    margin-bottom: 9%;
    line-height: 22px;
}

.innerWrapper ul li {
    line-height: 30px;
    color: #08FDED; 
}

.innerWrapper ul li span {
        color: #F3FAFF;
}

.blogFlexItems {
    display: flex;
    flex-direction: column; 
    width: 80%;
    border: 5px solid rgba(8,253,237,1);
    border-right: none;
    border-left: 5px solid rgba(8,253,237,1);
    padding-left: 20px; 
}