// Blog specific styles

.blogBody {
    background-color: #03697C;
    width: 100%;  
    @include fontRoboto(16px);
}

.blogBigSideImage {
    position: relative;
    bottom: 143px; 
        img {
             box-shadow: -25px 20px 0px 0px rgba(8,253,237,1);
        }
}

// .positionAnchor {
//     position: relative; 
//     bottom: 50%; 
//     margin-top: 40%; 
// }

.blogFlexContainer1 {
    display: flex; 
    flex-direction: column;
    // margin-top: 10%;
        article {
            letter-spacing: 1px;
            padding: 5%; 
                h2 {
                    font-size: 60px; 
                    margin-bottom: 5%; 
                }
                
        }
}

.blogFlexContainer2 { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 8%; 
    // width: 62%; 
    width: 57%; 
        h2 {
            font-size: 60px; 
        }
}

.userComment {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    padding: 5%; 
        h2, p {
            width: calc(75% - 20px);
            margin-left: 20%;
            line-height: 22px;
            letter-spacing: 1px;
            margin-top: 0; 
        }
}

.userCommentContainer {
    display: flex;
    flex-direction: column;
        img {
        align-self: flex-start;
        position: absolute; 
        }
}


.blogCommentContainer {
    display: flex; 
    flex-direction: row-reverse;
    padding-top: 10%; 
}


.containRight{
    display: flex;
    flex-direction: row-reverse; 
}    

.containLeft {
    display: flex; 
}

h3 {
    @include fontWalter(20px);
}

.blogFlexContainer1 h2 {
    font-size: 45px;
}

.formsSection {
    height: 80vh;
    position: relative; 
}

.blogSection {
    height: 100%;
    // position: relative; 
    display:flex; 
    flex-direction: row-reverse;
}

.blogSmallSideImage {
    // width: 350px;
    display: flex;
    flex-direction: column;
    // position: absolute;
    // top: -15px;
    // z-index: 1;
    // right: 25px; 
}

.purpleBox {
    height: 100%;
    width: 100%;
    background-color: #474BB5;
    // z-index: -1;
    // position: absolute;
    // top: 15%;
    // left: 75px;
    // position: absolute; 
    // left: 10%; 
    padding: 1%; 
    // text-align: center;
    // textalign: center; for media queries
        h3 {
            // margin-top: 30%; 
            letter-spacing: 1px; 
        }
}

.innerWrapper p {
    margin-top: 5%;
    letter-spacing: 1px;
    margin-bottom: 9%;
    line-height: 22px;
}

.innerWrapper ul li {
    line-height: 30px;
    color: #08FDED; 
}

.innerWrapper ul li span {
        color: #F3FAFF;
}

// .marginDown {
//     margin-top: 355px;  
// }

// .hideMeAt100 {
//     visibility: hidden;
// }

.blogFlexItems {
    display: flex;
    flex-direction: column; 
    width: 80%; 
    // justify-content: right;
    border: 5px solid rgba(8,253,237,1);
    border-right: none;
    border-left: 5px solid rgba(8,253,237,1);
    padding-left: 20px; 
}