// Home specific styles

.homeSectionOne {
    display: flex; 
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: #03697C;
    height: 100vh;
    @include fontRoboto(20px); 
} 

.sectionOneFlexItem{
    display: flex; 
    justify-content: space-around;
    width: 50%; 
    position: relative;
    top: 5%;  
}

.sectionOneText {
    display: flex; 
    height: auto; 
    width: 10%;
    border-radius: 50%;
    background-color: #474BB5;

}

h2 {
    position: relative; 
    @include fontWalter(40px)
}

p {
    margin-top: 20px; 
}

.homeSectionTwo {
    background-color: #474BB5;
}
