// Home specific styles

.homeSectionOne {
    background-color: #03697C;
    height: 100%;
    @include fontRoboto(20px);
    padding-top: 10%; 
} 

.sectionOneFlexItem {
    display: flex; 
    flex-wrap: wrap; 
             div {
            margin: 10px;
            flex: 1 0 calc(50% - 20px);
            padding: 2%;
    }
}

.iconCircle {
    position: relative; 
}


.eventTextBox {
    width: 60%;
}

.iconCircle::before {
    content : '';
    height: 50px; 
    width: 50px;
    border-radius: 50%;
    background-color: #08FDED;
    display: inline-block;
    position: relative; 
}

.iconCircle a {
    position: absolute;
    left: 20%;
    bottom: 10px;
    color:#474BB5;
}

.iconCenterLeft {
    position: absolute; 
    left: 7%; 
}

.iconCenterRight {
    position: absolute; 
    left: 47%;      
}

i {
    font-size: 25px; 
}

.iconCommunity {
    position: absolute;
    top: -28px;
}

.iconBlog {
    position: absolute;
    top: -30px;
    left: 6px;
}

.iconPhone {
    position: absolute;
    top: -30px;
    left: 2px;
}

.iconHome {
    position: absolute; 
    top: -30px; 
}


h2 {
    position: relative; 
    @include fontWalter(40px)
}

p {
    margin-top: 20px; 
}

.homeSectionTwo {
    background-color: #474BB5;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    @include fontRoboto(18px);
    position: relative; 
        p {
            line-height: 30px;
            width: 90%; 
    }
}

.sectionTwoFlexItem {
    width: 40%;
    padding: 1%;
    line-height: 35px;
        h2 {
            font-size: 35px; 
        }
}

.sectionTwoFlexItem1 {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;

}

.sectionTwoFlexItem2 {
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
}

.sectionTwoSideImage1 {
    width: 35%; 
    position: absolute; 
    top: -25px;
    left: 0;  
    box-shadow: 25px 20px 0px 0px rgba(8,253,237,1);
}

.sectionTwoSideImage2 {
    width: 35%; 
    position: absolute;
    bottom: -25px; 
    right: 0; 
    box-shadow: -25px 20px 0px 0px rgba(8,253,237,1);
}

.sectionTwoFlexBoxes {
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-end;
}


.homeSectionThree {
    display: flex; 
    @include fontRoboto(20px);
    background-color: #03697C;
    height: 80%; 
    padding: 5%; 
    text-align: center;
        div {
            display:flex; 
            flex-direction: column;
            justify-content: center;
            align-items: center;
                p {
                    width: 75%;
                    line-height: 35px; 
                    margin-bottom: 30px; 
                }
        }
}

.homeSectionFive {
    @include fontRoboto(16px);
    background-color: #03697C;
    height: 100%; 
}

.homeSectionFiveFlex { 
    display: flex; 
    padding: 8%;
        div {
            display:flex; 
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: 5%;
            padding-top: 3%; 
                p {
                    line-height: 30px; 
                    margin-bottom: 30px;
                }
        }
}

.sectionFiveImage {
    display: flex; 
        img {
            box-shadow: -25px 20px 0px 0px rgba(8,253,237,1);
        }
}

.homeSectionSix {
    background-color: #474BB5;
    height: 80%;
        img {
            width: calc(33.3% - 20px);
            margin: 10px;
        } 
}

.homeSectionSixFlex {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    padding: 5%; 
}
