// 988px for blog.html 

@media (max-width:988px) {

    .blogFlexItems {
        width: auto; 
        border: 5px solid #08fded;
        padding-left: 0; 
    }


    .blogSection {
        flex-direction: column;
    }

    .blogFlexContainer2{
        margin-left: 0; 
        width: auto;
        padding: 5%; 
    }

    .innerWrapper3 {
        margin: 0 auto;
        width: 80%; 
        text-align: center
    }

    .blogSmallSideImage {  
        width: 50%; 
        margin: 0 auto; 
    }

    nav {
        width: 100%;
    }

    .purpleBox {
        padding: 5%; 
        text-align: center;
    }

    .blogFlexContainer2 h2 {
        text-align: center;
    }

    .myBlogForm {
        margin-left: 0; 
        max-width: 100%; 
    }
    
    .blogBigSideImage {
        width: 100%;
        position: inherit;
            img {
                box-shadow: none;
            } 
    }
}

// 647px for blog.html 

@media (max-width: 647px) {
    .userComment p {
        margin-left: 30%;
    }
}

@media (max-width: 375px) {
    .userComment p {
        margin-left: 40%; 
    }
}

