//1069px for home.html --> header image 

@media (max-width:1069px) {
    .headerSideImage {
        align-self: center;
    }
}

// 988px for home.html

@media (max-width:988px) {
    .headerSideImage {
        margin: 0; 
    }

    .homeSectionOne{
        padding-top: 0; 
    }

    .sectionOneFlexItem {
        display: flex; 
        flex-direction: column;
        flex-wrap: wrap;
            h2 {
                font-size: 50px;
                text-align: center; 
            } 
    }

    .iconCenterRight {
        left: 4%; 
    }

    .iconCenterLeft {
        left: 4%; 
    }

    .sectionTwoSideImage1 {
        display: flex; 
        align-self: center; 
        position: initial;
        box-shadow: none;
        width: 60%;
    }

    .sectionTwoFlexBoxes {
        flex-direction: column;
        align-items: center;
    }

    .sectionTwoSideImage2 {
        display: flex; 
        position: inherit;
        box-shadow: none;
        align-self: center; 
        width: 60%; 
    }

    .sectionTwoFlexBoxes2 {
        display: flex; 
        justify-content: center;
        flex-direction: column;
    }

    .homeSectionTwo p {
        width: 100%; 
    }
    
    .sectionTwoFlexItem1 {
        align-items: center;
        width: 100%; 
    }

    .sectionTwoFlexItem2 {
        align-items: center; 
        width: 100%; 
    }

    .innerWrapperSection2 {
        margin: 0 auto;
        width: 80%; 
        padding: 2%;
    }
}

@media (max-width: 780px) {
    .headerSideImage {
        display:none; 
    }

    .homeHeader h1 {
        font-size: 80px; 
    }

    .homeSectionFiveFlex {
        flex-direction: column;
            div {
                align-items: center; 
                padding-top: 10%; 
                margin: 0 auto; 
                width: 100%; 
            } 
    }

    .homeSectionSixFlex {
        flex-direction: column;
        align-items: center; 
            img {
                width: 50%; 
            }
    }
}

@media (max-width: 600px) {

    .sectionOneFlexItem {
        width: 100%;
        padding: 5%;  
    }

    .iconCenterLeft {
        position: relative;
        left: 41%; 
    }

    .iconCenterRight {
        position: relative;
        left: 40%; 
    }
}

@media (max-width: 582px) {
    .homeHeader h1 {
        font-size: 50px;
    }
}

@media (max-width: 420px) {

    .sectionOneFlexItem div {
        margin: 0; 
    }
  .sectionOneFlexItem {
    padding: 0; 

}

    .innerWrapper {
        margin: 0; 
        width: auto;


    }

    .homeSectionThree {
        padding: 5%;
    }

}